.footer {
	background: rgba(0, 0, 0, 0.77);
	color: #fff;;
	padding: 20px 15px 10px;
	border-top: solid 1px #17a2b8;
	.icon-ygt-logo {
		color: $brand-highlight;
		display: none;
	}
	a:hover {
		color: white;
		text-decoration: none;
	}
	ul {
		.title {
			margin-bottom: 5px;
			display: block;
		}
		&.social-foot {
			li {
				list-style: none;
				float: right;
				margin-top: 5px;
				&.title {
					float: none;
					display: block;
					margin-top: 0px;
				}
				.fa {
					font-size: 1.75em;
					margin-left: 15px;
				}
				.fa-reddit {
					color: #ff4500;
				}
				.fa-facebook {
					color: #6283ca;
				}
				.fa-twitter {
					color: #1da1f2;
				}
			}
		}
		@include media-breakpoint-down(sm) {
			.title {
				margin-bottom: 8px;
			}
			&.social-foot {
				li {
					float: none;
					display: inline;
					.fa {
						margin-right: 15px;
						margin-left: 0;
					}
				}
			}
		}
	}
	.copyright {
		font-size: 10px;
		color: #929fa5;
		border-top: solid 1px $brand-highlight;
	}
}

