$nav-bgcolor: #121518;
$primary-text: #fff;
$brand-highlight: #ffbc00;
$menu-bgcolor: #24292d;


.navbar {
	background-color: rgba(1, 6, 13, 0.72);
	padding: 0;
	border: none;
	display: block;
	a {
		color: #fff;
	}
	.menu_mask {
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		z-index: 160;
		background-color: rgba(21, 21, 21, 0.85);
		position: fixed;
		opacity: 0;
	}
	.icon-menu {
		display: none;
		&:hover {
			transform: rotate(-180deg);
		}
		&:hover:before {
			color: #ffbc00;
			content: "\e5c4";
		}
	}
	.trade {
		margin: 9px 0 5px 14px;
		padding: 3px 20px;
		display: inline-block;
		border: solid 1px $brand-highlight;
		background-color: $brand-highlight;
		color: $nav-bgcolor;
		border-radius: 2px;
		top: -2px;
		position: relative;
		&:hover {
			text-decoration: none;
			background-color: $brand-highlight;
			color: $nav-bgcolor;
		}
	}

	.navbar-brand {
		color: #fff;
		position: relative;
		z-index: 150;
		padding: 10px 10px 10px 20px;
		margin: 0;
		font-size: 18px;
		&:hover {
			color: #fff;
		}
		i {
			position: relative;
			top: 1px;
			padding-right: 1px;
			color: $brand-highlight;
		}
	}

	#ygn-nav {
		float: right;
		position: relative;
		z-index: 200;
		.icon-close {
			display: none;
			padding: 8px 15px 8px 15px;
			margin-right: 5px;
			font-size: 29px;
			transition: 0.2s;
			color: #fff;
		}
		.dropdown .nav-link,
		.pages .nav-link {
			padding: 0 25px 1px;
			line-height: 45px;
			> i {
				padding-right: 5px;
			}
		}
		.dropdown {
			.dropdown-toggle {
				&:after {
					display: none;
				}
			}
			&.show {
				> a {
					background-color: #000;
					border-bottom: solid 1px #ffbc00;
					color: #fff;
					i.icon-chevron-down {
						color: $brand-highlight;
						&:before {
							content: "\e905";
						}
					}
				}
			}
			.dropdown-menu {
				padding: 0;
				border-color: #121518;
				border-top: solid 2px #000;
				background-color: $nav-bgcolor;
				min-width: 100%;
				margin: 0;
				border-radius: 0;
				a {
					color: #fff;
					font-size: 14px;
					padding: 5px 20px;
					&.signout {
						border-top: solid 1px #777777;
						padding: 10px 25px;
					}
					&:hover,
					&:focus {
						color: $brand-highlight;
						background-color: $nav-bgcolor;
					}
					&.active {
						background-color: #364450;
						&:hover,
						&:focus {
							color: #fff!important;
						}
					}
					i {
						padding-right: 5px;
					}
				}
			}
		}
		p.navbar-text {
			margin: 5px 10px 5px 5px;
			padding: 0;
			cursor: pointer;
			.btn {
				display: inline-block;
				margin-bottom: 0;
				font-weight: normal;
				text-align: center;
				vertical-align: middle;
				cursor: pointer;
				background-image: none;
				border: 1px solid transparent;
				white-space: nowrap;
				padding: 6px 12px;
				font-size: 14px;
				line-height: 1.428571429;
				border-radius: 2px
			}
		}
	}


	#language {
		text-transform: uppercase;
		.lang-icon {
			height: 16px;
		}
		.dropdown-menu {
			min-width: 0;
			width: 100%;
			text-align: center;
			padding: 10px 0;
			a {
				padding: 5px 15px;
				color: #fff;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.navbar {
		#ygn-nav {
			.icon-menu {
				padding: 8px 15px 8px 15px;
				margin-right: 5px;
				font-size: 29px;
				transition: 0.2s;
				color: #fff;
				display: block;
			}
			.main-menu {
				position: absolute;
				width: 285px;
				right: -285px;
				top: 0;
				z-index: 200;
				background: $menu-bgcolor;
				margin: 0;
				height: 100vh;
				overflow-y: scroll;
				padding: 0;
				background-color: #24292d;
				border-left: solid 1px #414954;
				overflow: hidden;
				z-index: 210;
				h4 {
					margin: 20px 0;
					background: #000;
					text-align: center;
				}
				a, a:hover {
					color: #fff;
				}
				ul {
					list-style: none;
					line-height: 2em;
					margin: 0;
					padding: 0;
					text-align: left;
					width: 100%;
					hr {
						display: none!important;
					}
					li.pages {
						padding: 10px;
						a {
							padding: 7px 17px;
						}
					}
				}
				.open {
					> a,
					> a:hover,
					> a:focus {
						background: #0e1c29;
						border-bottom: solid 1px $brand-highlight;
					}
				}
				> ul {
					padding-top: 45px;
					padding-bottom: 100px;
					position: relative;
					#profile {
						position: static;
						order: 0;
						.dropdown-toggle {
							border-top: solid 1px #414954;
							border-bottom: solid 1px #414954;
							background-color: #121518;
							cursor: default;
							text-align: left;
							display: block;
							padding: 10px;
							text-transform: uppercase;
							font-weight: bold;
							font-size: 12px;
							line-height: normal;
							&:hover {
								color: #fff;
							}
							.icon-chevron-down {
								display: none;
							}
						}
						.dropdown-menu {
							display: block;
							padding: 0 0 10px;
							border: 0;
							background-color: #24292d;
							border-bottom: solid 1px #414954;
							a {
								padding-left: 25px;
								&.signout {
									border: solid 1px #ec4b46;
									border-radius: 2px;
									text-align: center;
									position: absolute;
									bottom: 60px;
									width: 90%;
									left: 5%;
									padding: 0;
								}
							}
						}
					}
				}
				.icon-close {
					display: block;
					padding-left: 10px;
					padding-right: 10px;
					position: absolute;
					top: 0;
					right: 0;
					z-index: 220;
					transition: 0.2s;
					&:hover {
						transform: rotate(180deg);
						&:before {
							color: #ffbc00;
							content: "\e5c8";
						}
					}
				}
				.btn-block {
					display: inline;
				}
				#language {
					position: absolute;
					top: 8px;
					left: 10px;
					font-size: 12px;
					line-height: 26px;
					text-align: center;
					a.dropdown-toggle {
						padding: 6px 10px;
						line-height: normal;
					}
					.dropdown-menu {
						background-color: $nav-bgcolor;
						border-color: #24292d;
					}
				}
			}
		}
	}
}