//
// Since icons are fonts, they can be placed anywhere text is placed and are
// thus automatically sized to match the surrounding child. To use, create an
// inline element with the appropriate classes, like so:
//
// <a href="#"><span class="icon-megaphone"></span> Star</a>

@at-root {
  // Import the fonts
  @font-face {
    font-family: 'iconfont';
    src: font-url('#{$icon-font-name}.eot');
    src: font-url('#{$icon-font-name}.eot?#iefix') format('embedded-opentype'),
         font-url('#{$icon-font-name}.woff') format('woff'),
         font-url('#{$icon-font-name}.ttf') format('truetype'),
         font-url('#{$icon-font-name}.svg##{$icon-font-svg-id}') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ygt-logo:before {
  content: "\e918";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-ev_station:before {
  content: "\e56d";
}
.icon-star:before {
  content: "\e838";
}
.icon-info_outline:before {
  content: "\e88f";
}
.icon-mail:before {
  content: "\e0e1";
}
.icon-menu2:before {
  content: "\e5d2";
}
.icon-notifications:before {
  content: "\e7f4";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-volume_up:before {
  content: "\e050";
}
.icon-key:before {
  content: "\e0da";
}
.icon-id-badge:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e916";
}
.icon-wrench:before {
  content: "\e901";
}
.icon-coins:before {
  content: "\e90e";
}
.icon-money:before {
  content: "\e90e";
}
.icon-history:before {
  content: "\e911";
}
.icon-night_mode:before {
  content: "\e912";
}
.icon-funds:before {
  content: "\e913";
}
.icon-exchange:before {
  content: "\e915";
}
.icon-adjust:before {
  content: "\e906";
}
.icon-cog:before {
  content: "\e907";
}
.icon-lifebuoy:before {
  content: "\e909";
}
.icon-light-up:before {
  content: "\e90a";
}
.icon-megaphone:before {
  content: "\e917";
}
.icon-menu:before {
  content: "\e90b";
}
.icon-wallet:before {
  content: "\e90d";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-close:before {
  content: "\e90f";
}
.icon-mine:before {
  content: "\e910";
}
.icon-signout:before {
  content: "\e914";
}
.icon-arrow-long-down:before {
  content: "\e902";
}
.icon-arrow-long-up:before {
  content: "\e903";
}
.icon-v-card:before {
  content: "\e90c";
}
.icon-chevron-down:before {
  content: "\e904";
}
.icon-chevron-up:before {
  content: "\e905";
}
.icon-cross:before {
  content: "\e908";
}
.icon-print:before {
  content: "\e919";
}

