/*!
 * Common v0.0.1
 * Copyright 2018- YugenTrade, Inc.
 * When updating this Gem, increment the version number
 * in /common_assets/version.rb
 */


// Core variables and mixins
@import "common/variables";

// Reset and dependencies
@import "common/icons";
@import "common/header";
@import "common/footer";

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,700');

a {
    color: #17a2b8;
}

.page-link {
	color: #656556;
	&.active .page-link {
		color: #1b1f23;
		background-color: #ffe291;
		border-color: #ffbc00;
	}
	&:hover {
		color: #1b1f23;
	}
}