/*!
 * Common v0.0.1
 * Copyright 2018- YugenTrade, Inc.
 * When updating this Gem, increment the version number
 * in /common-assets/version.rb
 */


// Core variables and mixins
@import "common/variables";

// Reset and dependencies
@import "common/icons";


@import "common/header";
@import "common/footer";
