<wrapper class="header">
	<container>
		<row class="collapse">
			<columns small="6">
				<a href="<%= ENV['CORE_DOMAIN'] %>"><%= render 'common_assets/shared/mailers/logo' %></a>
			</columns>
			<columns small="6" class="links">
				<button class="small radius warning btn" href="<%= ENV['CORE_DOMAIN'] %>trading">Trade</button>
			</columns>
		</row>
	</container>
</wrapper>

<spacer size="16"></spacer>