<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="120px" height="28.667px" viewBox="0 0 120 28.667" enable-background="new 0 0 120 28.667" xml:space="preserve">
	 <title>YugenTrade</title>
<path fill="#FFA700" d="M13.514,7.087l-5.24,2.986v5.974l3.99,2.274v-2.994v-1.425l-1.25-0.714l-2.232-1.272v-0.907l1.705-0.971
	l1.778,1.013l1.25,0.712l1.251-0.712l1.776-1.013l1.705,0.971v0.907l-2.232,1.272l-1.249,0.714v1.425v3.018l5.166-2.84l-2.814-1.115
	l4.271-2.526v5.687l-7.874,4.488l-7.875-4.488V8.572l7.875-4.49l7.874,4.49v1.372l-2.635,1.502v-1.373L13.514,7.087z"/>
<g>
	<path fill="#3F3F3D" d="M31.778,13.021l2.873-5.918h2.401l-4.186,7.89v4.597h-2.178v-4.597l-4.194-7.89h2.41L31.778,13.021z"/>
	<path fill="#3F3F3D" d="M42.44,18.682c-0.612,0.721-1.481,1.081-2.607,1.081c-1.006,0-1.769-0.294-2.286-0.883
		c-0.518-0.589-0.776-1.441-0.776-2.556v-6.012h2.084v5.986c0,1.178,0.489,1.767,1.467,1.767c1.012,0,1.695-0.363,2.05-1.089v-6.664
		h2.084v9.28h-1.964L42.44,18.682z"/>
	<path fill="#3F3F3D" d="M45.511,14.882c0-1.441,0.339-2.591,1.017-3.452c0.677-0.86,1.577-1.291,2.697-1.291
		c1.058,0,1.89,0.369,2.496,1.106l0.094-0.935h1.878v8.997c0,1.218-0.379,2.179-1.137,2.882c-0.757,0.703-1.779,1.055-3.066,1.055
		c-0.68,0-1.345-0.141-1.994-0.424c-0.649-0.283-1.142-0.653-1.479-1.111l0.986-1.252c0.64,0.76,1.429,1.141,2.367,1.141
		c0.692,0,1.238-0.188,1.638-0.562c0.4-0.375,0.601-0.925,0.601-1.651v-0.626c-0.601,0.669-1.401,1.003-2.401,1.003
		c-1.086,0-1.974-0.432-2.663-1.295S45.511,16.409,45.511,14.882z M47.586,15.062c0,0.932,0.19,1.665,0.57,2.2
		s0.908,0.802,1.583,0.802c0.84,0,1.463-0.36,1.87-1.081v-4.082c-0.395-0.704-1.012-1.055-1.853-1.055
		c-0.686,0-1.219,0.272-1.6,0.815C47.776,13.205,47.586,14.005,47.586,15.062z"/>
	<path fill="#3F3F3D" d="M59.568,19.762c-1.321,0-2.392-0.416-3.212-1.248c-0.82-0.832-1.23-1.94-1.23-3.324v-0.257
		c0-0.926,0.179-1.753,0.536-2.482c0.357-0.729,0.859-1.296,1.505-1.703c0.646-0.406,1.367-0.609,2.161-0.609
		c1.264,0,2.24,0.403,2.929,1.209c0.689,0.806,1.033,1.947,1.033,3.422v0.84h-6.063c0.063,0.766,0.319,1.372,0.768,1.818
		c0.449,0.446,1.014,0.669,1.694,0.669c0.955,0,1.732-0.386,2.333-1.158l1.124,1.072c-0.372,0.555-0.868,0.985-1.488,1.291
		C61.036,19.609,60.34,19.762,59.568,19.762z M59.319,11.812c-0.572,0-1.034,0.2-1.385,0.601c-0.352,0.4-0.576,0.958-0.673,1.672
		h3.971V13.93c-0.046-0.697-0.231-1.225-0.558-1.582C60.349,11.991,59.896,11.812,59.319,11.812z"/>
	<path fill="#3F3F3D" d="M66.138,10.311l0.06,1.072c0.686-0.829,1.587-1.244,2.702-1.244c1.932,0,2.916,1.106,2.949,3.319v6.132
		h-2.084v-6.012c0-0.589-0.127-1.025-0.381-1.308c-0.256-0.283-0.672-0.425-1.248-0.425c-0.842,0-1.467,0.38-1.879,1.141v6.604
		h-2.084v-9.28H66.138z"/>
	<path fill="#3F3F3D" d="M82.494,8.853h-3.894v10.738h-2.153V8.853h-3.859v-1.75h9.906V8.853z"/>
	<path fill="#3F3F3D" d="M87.876,12.215c-0.275-0.046-0.558-0.069-0.85-0.069c-0.955,0-1.598,0.366-1.93,1.098v6.347h-2.084v-9.28
		h1.989l0.052,1.038c0.503-0.807,1.201-1.209,2.093-1.209c0.297,0,0.543,0.04,0.737,0.12L87.876,12.215z"/>
	<path fill="#3F3F3D" d="M94.122,19.591c-0.092-0.177-0.172-0.466-0.24-0.866c-0.663,0.692-1.475,1.038-2.436,1.038
		c-0.932,0-1.692-0.266-2.281-0.797s-0.884-1.189-0.884-1.973c0-0.989,0.368-1.748,1.103-2.277s1.785-0.793,3.151-0.793h1.278
		v-0.609c0-0.48-0.135-0.865-0.403-1.154c-0.269-0.289-0.678-0.433-1.227-0.433c-0.475,0-0.863,0.119-1.166,0.356
		c-0.303,0.237-0.455,0.539-0.455,0.905h-2.084c0-0.509,0.169-0.985,0.507-1.428c0.337-0.443,0.796-0.791,1.376-1.042
		s1.228-0.377,1.942-0.377c1.087,0,1.953,0.273,2.599,0.819c0.646,0.546,0.978,1.314,0.995,2.303v4.186
		c0,0.835,0.117,1.501,0.352,1.998v0.146H94.122z M91.832,18.09c0.412,0,0.799-0.1,1.162-0.3c0.363-0.2,0.636-0.469,0.819-0.806
		v-1.75h-1.124c-0.771,0-1.352,0.135-1.74,0.403c-0.39,0.269-0.584,0.649-0.584,1.141c0,0.4,0.134,0.719,0.399,0.956
		C91.03,17.971,91.387,18.09,91.832,18.09z"/>
	<path fill="#3F3F3D" d="M96.987,14.882c0-1.429,0.331-2.577,0.995-3.443c0.663-0.866,1.552-1.299,2.667-1.299
		c0.983,0,1.778,0.343,2.384,1.029V6.417h2.084v13.173h-1.887l-0.103-0.96c-0.623,0.754-1.455,1.132-2.496,1.132
		c-1.086,0-1.965-0.437-2.637-1.312S96.987,16.386,96.987,14.882z M99.071,15.062c0,0.943,0.182,1.68,0.545,2.208
		c0.362,0.529,0.879,0.793,1.548,0.793c0.852,0,1.475-0.38,1.869-1.141v-3.962c-0.383-0.743-1-1.115-1.853-1.115
		c-0.675,0-1.194,0.268-1.561,0.802S99.071,13.988,99.071,15.062z"/>
	<path fill="#3F3F3D" d="M110.324,19.762c-1.32,0-2.392-0.416-3.212-1.248c-0.82-0.832-1.23-1.94-1.23-3.324v-0.257
		c0-0.926,0.179-1.753,0.536-2.482s0.858-1.296,1.505-1.703c0.646-0.406,1.366-0.609,2.161-0.609c1.264,0,2.24,0.403,2.929,1.209
		c0.689,0.806,1.034,1.947,1.034,3.422v0.84h-6.063c0.062,0.766,0.318,1.372,0.768,1.818c0.448,0.446,1.013,0.669,1.693,0.669
		c0.955,0,1.732-0.386,2.333-1.158l1.123,1.072c-0.371,0.555-0.867,0.985-1.487,1.291C111.792,19.609,111.097,19.762,110.324,19.762
		z M110.075,11.812c-0.571,0-1.033,0.2-1.385,0.601c-0.352,0.4-0.576,0.958-0.673,1.672h3.971V13.93
		c-0.046-0.697-0.231-1.225-0.558-1.582S110.653,11.812,110.075,11.812z"/>
</g>
</svg>
