<!DOCTYPE html>
<html>
<head>
    <title>
            422 - The change you wanted was rejected - YugenTrade
    </title>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="http://status.digibitx.com/assets/application-b0ad9ac34bc2ef55116254458a7dd26b414727f020b6eb0464937e753c00053c.css">

</head>

<body id="pages" class="pages">
    <%= render 'common_assets/shared/header' %>

    <div id="wrap">
        <div class="container">
            <%= yield %>

            <%= render 'common_assets/shared/footer' %>
        </div>
    </div>
</body>
</html>