<!DOCTYPE html>
<html>
<head>
    <title>
            Uh! oh! You've broken the site - YugenTrade
    </title>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="<%= Setting.get(:CORE_DOMAIN) %>/error_page.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js">></script>
</head>

<body id="pages" class="devise">
    <%= render partial: 'common_assets/shared/header', locals: { show_user: false, current_user: nil, is_admin: false}  %>

	<div id="wrap" class="scroll d-flex flex-column justify-content-between">

		<div class='container'>
			<%= yield %>
		</div>
		<%= render 'common_assets/shared/footer' %>
	</div>

</body>
</html>