<!DOCTYPE html>
<html>
<head>
    <title>
            422 - The change you wanted was rejected - YugenTrade
    </title>
    <meta name="robots" content="noindex">

    <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
</head>

<body id="pages" class="pages">
    <%= render 'common_assets/shared/header' %>

    <div id="wrap">
        <div class="container">
            <%= yield %>

            <%= render 'common_assets/shared/footer' %>
        </div>
    </div>
</body>
</html>