<h1 class="card-title">The change you wanted was rejected.</h1>
<p>Maybe you tried to change something you didn't have access to.</p>
<p>Please check if you have verified your email, added 2FA or additional security requirements.</p>